<label for="currencyFilter">Currency:</label>
<select id="currencyFilter">
    <option value="USD">USD</option>
    <option value="UAH">UAH</option>
</select>

<script src="~/js/currency.js"></script>
